#second_container {
    max-width: 1520px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.extra {
    height: 750px;
}
.second_title {
    margin-top: 90px;
    text-align: center;
    color: var(--asosiy-rang, #004152);
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}
.second_text {
    color: var(--asosiy-rang, #004152);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 50px;
}
.modda_title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.modda_title:hover {
    color: blue;
    font-size: 50px;
}

.second_wrapper {
    position: relative;
    width: 1520px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #16384c; */
    flex-wrap: wrap;
}
.second_wrapper .card_modda {
    position: relative;
    max-width: 450px;
    height: auto;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
    height: auto;
}
.card_modda h3{
    margin: 0 auto;
    margin-top: auto;
}
.second_wrapper .card_modda .imgBx {
    position: relative;
    width: 380px;
    height: 342px;
    margin-left: auto;
    margin-right: auto;
    top: -60px;
    /* left: 60px; */
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0.1);
}
.second_wrapper .card_modda .imgBx img {
    min-width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;
}
.second_wrapper .card_modda .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.content {
    border: 10px;
}

.card_modda:hover{
    background-color: #99cc00;
}

.card_modda:hover h3{
    color: white;
    margin-top: 0;
}
.second_wrapper .card_modda .content h2 {
    color: var(--asosiy-rang, #fff);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}
.second_wrapper .card_modda .content p {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}
.second_wrapper .card_modda:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay:0.3s ;
}

/* second section end */
